<a href="/admin/restaurant">admin restuarants</a>
<span>|</span>
<a href="/admin/user">admin users</a>
<div>
  <label>
    <h1>admin restaurants</h1>
  </label>
  <a class="btn btn-danger" href="/admin/restaurant/create">新增餐廳</a>
</div>

<div class="list-group">
  {{#each restaurants}}
  <div class="row">
    <a href="/admin/restaurant/{{this.id}}" class="list-group-item list-group-item-action col-6">
      <h5>{{this.name}}</h5>
    </a>
    <a class="col-1" href="/admin/restaurant/{{this.id}}/edit">edit</a>
    <form class="col-1" action="/admin/restaurant/{{this.id}}?_method=DELETE" method="POST">
      <button class="btn btn-danger" type="submit">delete</button>
    </form>
  </div>

  {{/each}}
</div>