<a class="btn btn-primary" href="/admin/restaurant">back</a>
<label>
  <h1>create restaurant</h1>
</label>
<form action="/admin/restaurant" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">restaurant name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter restaurant name">
  </div>
  <div class="form-group">
    <label for="tel">tel</label>
    <input type="text" class="form-control" name="tel" id="tel" placeholder="Enter tel">
  </div>
  <div class="form-group">
    <label for="address">address</label>
    <input type="text" class="form-control" name="address" id="address" placeholder="Enter address">
  </div>
  <div class="form-group">
    <label for="opening_hours">opening hours</label>
    <input type="time" class="form-control" name="opening_hours" id="opening_hours" placeholder="Enter opening hours">
  </div>
  <div class="form-group">
    <label for="description">description</label>
    <textarea class="form-control" rows="3" name="description" id="description"
      placeholder="Enter description"></textarea>
  </div>
  <div class="form-group">
    <label for="image">image</label>
    <input type="file" class="form-control-file" name="image" id="image">
  </div>
  <button type="submit" class="btn btn-primary">create</button>
</form>