<div class="card">
  <div class="card-body text-center">
    <img src="{{user.avatar}}" alt="vatar" class="card-img-top" style="height: 200px; width:200px;">
    <h1 class="card-title">{{user.name}}</h1>
    <ul class="list-unstyled">
      <li>{{user.email}}</li>
    </ul>
    <a href="/user/{{user.id}}/edit">edit</a>
  </div>
</div>